.root {

    -fx-background-color: radial-gradient(center 50% 50%, radius 75%, #482d30, #252122);
}
#background {

}
#title {
    -fx-text-fill: radial-gradient(center 50% 50%, radius 75%, #dcdcdc, #919191);
    -fx-font-size: 40px;
}
.button {
    /*-fx-background-color: radial-gradient(center 50% 50%, radius 75%, white, gray);*/
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-start-margin: 10px;
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-style: solid;

    -fx-border-width: 1px;


}
.button:hover {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: rgb(201, 201, 201);

}
.button:pressed {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: rgb(131, 131, 131);
}